# Configurações de ambiente e arquivos sensíveis
appsettings.json
appsettings.*.json
.env

# Diretórios de build e publicação
bin/
obj/
publish/

# Arquivos de log
*.log

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Arquivos do Visual Studio
.vs/
*.user
*.suo

# Arquivos de cache do NuGet
*.nupkg
packages/
project.lock.json

# Arquivos de cache do Rider/JetBrains
.idea/
*.iml

# Arquivos de cache do sistema
*.swp
*.bak
*.tmp
